<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>QuanLyNhanSu</display-name>

    <welcome-file-list>
        <welcome-file>admin/dashboard.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Dashboard -->
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controller.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>

    <!-- Employee -->
    <servlet>
        <servlet-name>EmployeeServlet</servlet-name>
        <servlet-class>controller.EmployeeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeServlet</servlet-name>
        <url-pattern>/admin/employee</url-pattern>
    </servlet-mapping>

    <!-- Department -->
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>controller.DepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/admin/departments</url-pattern>
    </servlet-mapping>

</web-app>
